{% extends 'menti/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Certifications/Courses {% endblock %}
{% block content %}
<div class="d-flex">
    <!-- Sidebar -->
    {% if is_mentor_view == False %}
    {% include "menti/mentee_sidebar.html" %}
    {% endif %}
    <!-- Main Content -->
    <div class="content shifted flex-grow-1 p-4">
        <div class="container">

            <!-- Header -->
            <div class="d-flex align-items-center mb-3">
                <h2 class="text-white p-3 bg-black rounded">
                    {% if is_mentor_view == False %}
                    <a id="toggleSidebarBtn" class="btn btn-outline-dark me-2">
                        <i id="sidebarIcon" class="bi bi-list"></i>
                    </a>
                    {% endif %}
                    Certifications/Courses
                </h2>
            </div>
            <div class="card shadow-sm bg-dark border-0 p-0">
                <div class="card-header d-flex flex-column flex-md-row justify-content-between align-items-md-center">
                    <div>
                        <h5 class="mb-0 fw-semibold" style="color: #fff;">Uploaded Documents</h5>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-md-center gap-2 mt-2 mt-md-0">
                        {% if is_mentor_view == False %}
                            {% if certifications %}
                            <a href="{% url 'download_all_certifications' %}" class="btn btn-success btn-sm">
                                <i class="bi bi-download"></i> Download All
                            </a>
                            {% endif %}
                        {% endif %}
                        <span class="badge bg-primary-subtle text-primary">
                            {{ certifications|length }} Document{{ certifications|length|pluralize }}
                        </span>
                    </div>
                </div>
                <!-- Table -->
                <table class="table table-bordered table-hover align-middle shadow-sm rounded">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center">Sr. No</th>
                            <th class="text-center">Title</th>
                            <th class="text-center">Certifying Authority</th>
                            <th class="text-center">AY</th>
                            <th class="text-center">Sem</th>
                            <th class="text-center">Class</th>
                            <th class="text-center">Start Date</th>
                            <th class="text-center">End Date</th>
                            <th class="text-center">No. of Days</th>
                            <th class="text-center">Valid Upto</th>
                            <th class="text-center">Domain</th>
                            <th class="text-center">Level</th>
                            <th class="text-center">Amount Reimbursed (in Rs.)</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in certifications %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-center">{{ item.title }}</td>
                                <td class="text-center">{{ item.certifying_authority }}</td>
                                <td class="text-center">{{ item.academic_year }}</td>
                                <td class="text-center">{{ item.semester }}</td>
                                <td class="text-center">{{ item.year }}</td>
                                <td class="text-center">{{ item.start_date }}</td>
                                <td class="text-center">{{ item.end_date }}</td>
                                <td class="text-center">{{ item.no_of_days }}</td>
                                <td class="text-center">{{ item.valid_upto }}</td>
                                <td class="text-center">{{ item.domain }}</td>
                                <td class="text-center">{{ item.level }}</td>
                                <td class="text-center">{{ item.amount_reimbursed }}</td>
                                <td class="text-center">
                                    {% if is_mentor_view == False %}
                                        {% if item.certificate %}
                                            <a href="{{ item.certificate.url }}" class="btn btn-primary btn-sm mt-1" target="_blank"><i class="bi bi-eye"></i></a>
                                            <a href="{% url 'edit_certification' item.pk %}" class="btn btn-dark btn-sm mt-1"><i class="bi bi-pencil-square"></i></a>
                                            <a href="{{ item.certificate.url }}" class="btn btn-success btn-sm mt-1" download><i class="bi bi-box-arrow-down"></i></a>
                                            <a href="{% url 'delete_certification' item.pk %}" class="btn btn-danger btn-sm mt-1" onclick="return confirm('Are you sure you want to delete this record?')"><i class="bi bi-trash"></i></a>
                                        {% else %}
                                            <a href="{% url 'edit_certification' item.pk %}" class="btn btn-dark btn-sm mt-1"><i class="bi bi-pencil-square"></i></a>
                                            <a href="{% url 'delete_certification' item.pk %}" class="btn btn-danger btn-sm mt-1" onclick="return confirm('Are you sure you want to delete this record?')"><i class="bi bi-trash"></i></a>
                                        {% endif %}
                                    {% else %}
                                            <a href="{{ item.certificate.url }}" class="btn btn-primary btn-sm mt-1" target="_blank"><i class="bi bi-eye"></i></a>
                                            <a href="{{ item.certificate.url }}" class="btn btn-success btn-sm mt-1" download><i class="bi bi-box-arrow-down"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr><td colspan="14" class="text-center">No records yet</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if is_mentor_view == False %}
            <!-- Add / Edit Form -->
            <div class="row justify-content-center">
                <div class="col-md-10"><br>
                    <button class="btn btn-danger" id="showFormBtn">
                        Add <i id="toggleIcon" class="bi bi-plus-lg"></i>
                    </button>
                    <hr>
                    <div class="card shadow-lg rounded-3 {% if editing %}border-primary{% endif %}">
                        <div class="card-header header-dark border-bottom d-flex align-items-center p-3">
                            <h4 class="mb-0 fw-bold" style="color: #000 !important;">{% if editing %} Edit Certifications / Courses {% else %} Add Certifications / Courses {% endif %}</h4>
                        </div><br><br>
                        <div class="card-body">
                            <div id="internshipForm" class="{% if editing %}show{% endif %}">
                                {% if form.errors %}
                                <div class="alert alert-danger">
                                    {{ form.errors }}
                                </div>
                                {% endif %}
                                <form method="post" enctype="multipart/form-data"
                                      action="{% if editing %}{% url 'edit_certification' edit_id %}{% else %}{% url 'certifications' %}{% endif %}">
                                    {% csrf_token %}
                                    <div class="row g-3">
                                    <small class="text-muted" style="color:#ff0000 !important;">
                                        Note: '*' asterisk denotes that the fields are required.</small>
                                        <div class="col-md-6">
                                            <label class="form-label">Title <span style="color:#ff0000 !important;">*</span></label>
                                            {{ form.title|add_class:"form-control" }}
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">Certifying Authority <span style="color:#ff0000 !important;">*</span></label>
                                            {{ form.certifying_authority|add_class:"form-control" }}
                                        </div>

                                        <div class="col-md-4">
                                            <label class="form-label">Academic Year <span style="color:#ff0000 !important;">*</span></label>
                                            {{ form.academic_year|add_class:"form-select" }}
                                        </div>

                                        <div class="col-md-4">
                                            <label class="form-label">Semester <span style="color:#ff0000 !important;">*</span></label>
                                            {{ form.semester|add_class:"form-select" }}
                                        </div>

                                        <div class="col-md-4">
                                            <label class="form-label">Class <span style="color:#ff0000 !important;">*</span></label>
                                            {{ form.year|add_class:"form-select" }}
                                        </div>

                                        <div class="col-md-4">
                                            <label class="form-label">Start Date <span style="color:#ff0000 !important;">*</span></label>
                                            {{ form.start_date|add_class:"form-control" }}
                                        </div>

                                        <div class="col-md-4">
                                            <label class="form-label">End Date <span style="color:#ff0000 !important;">*</span></label>
                                            {{ form.end_date|add_class:"form-control" }}
                                        </div>

                                        <div class="col-md-4">
                                            <label class="form-label">No. of Days</label>
                                            {{ form.no_of_days|add_class:"form-control" }}
                                        </div>

                                        <div class="col-md-3">
                                            <label class="form-label">Valid Upto</label>
                                            {{ form.valid_upto|add_class:"form-control" }}
                                        </div>

                                        <div class="col-md-3">
                                            <label class="form-label">Domain <span style="color:#ff0000 !important;">*</span></label>
                                            {{ form.domain|add_class:"form-control" }}
                                        </div>

                                        <div class="col-md-3">
                                            <label class="form-label">Level <span style="color:#ff0000 !important;">*</span></label>
                                            {{ form.level|add_class:"form-control" }}
                                        </div>

                                        <div class="col-md-3">
                                            <label class="form-label">Amount Reimbursed By College</label>
                                            {{ form.amount_reimbursed|add_class:"form-control" }}
                                        </div>

                                        <div class="col-12">
                                            <label class="form-label">Certificate <span style="color:#ff0000 !important;">*</span></label>
                                            {{ form.certificate|add_class:"form-control" }}
                                            <!-- Error messages for certificate -->
                                            {% if form.certificate.errors %}
                                                <div class="text-danger mt-1">
                                                    {% for error in form.certificate.errors %}
                                                        <small>{{ error }}</small><br>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <p class="text-muted">Upload PDF file only (Max size: 1MB)</p>
                                    </div>

                                    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 mt-4">
                                        <button type="submit" class="btn btn-success btn-lg w-100 w-md-50">
                                            {% if editing %}Update{% else %}Submit{% endif %}
                                        </button>
                                        {% if editing %}
                                            <a href="{% url 'certifications' %}" class="btn btn-secondary btn-lg w-100 w-md-50">
                                                Cancel
                                            </a>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Prev / Next Buttons -->
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mt-4 gap-3">
                <a href="{% url 'other-events' %}"
                   class="btn btn-warning btn-lg rounded-pill px-4 shadow-sm mx-5">
                    <i class="bi bi-arrow-left-circle"></i> Prev
                </a>
                <a href="{% url 'publications' %}"
                   class="btn btn-warning btn-lg rounded-pill px-4 shadow-sm mx-5">
                    Next <i class="bi bi-arrow-right-circle"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
document.getElementById("showFormBtn").addEventListener("click", function(){
    var formDiv = document.getElementById("internshipForm");
    var icon = document.getElementById("toggleIcon");
    var btn = document.getElementById("showFormBtn");

    // Toggle slide effect using class
    formDiv.classList.toggle("show");

    // toggle icon + text
    if (icon.classList.contains("bi-plus-lg")) {
        icon.classList.replace("bi-plus-lg", "bi-dash-lg"); // plus → minus
        btn.childNodes[0].nodeValue = "Remove ";            // Add → Remove
    } else {
        icon.classList.replace("bi-dash-lg", "bi-plus-lg"); // minus → plus
        btn.childNodes[0].nodeValue = "Add ";               // Remove → Add
    }
});


// Auto-calculate No of Days
document.addEventListener("DOMContentLoaded", function () {
    let startDateField = document.getElementById("id_start_date");
    let endDateField = document.getElementById("id_end_date");
    let noOfDaysField = document.getElementById("id_no_of_days");

    // Make "No of Days" readonly
    if (noOfDaysField) {
        noOfDaysField.readOnly = true;
    }

    function calculateDays() {
        let start = new Date(startDateField.value);
        let end = new Date(endDateField.value);

        if (start && end && !isNaN(start) && !isNaN(end)) {
            let diffTime = end - start;
            let diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24)) + 1;     // +1 to include both days
            if (diffDays > 0) {
                noOfDaysField.value = diffDays;
            } else {
                noOfDaysField.value = "";
            }
        }
    }

    if (startDateField && endDateField && noOfDaysField) {
        startDateField.addEventListener("change", calculateDays);
        endDateField.addEventListener("change", calculateDays);
    }
});
</script>

<style>
/* Dropdown toggle icon animation */
.toggle-icon {
    transition: transform 0.3s ease-in-out;
}
a[aria-expanded="true"] .toggle-icon {
    transform: rotate(180deg);
}

.slide-toggle {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; /* smooth slide */
}

.slide-toggle.show {
    max-height: 800px; /* set bigger than your form height */
}

#internshipForm {
  max-height: 0;
  overflow:hidden;
  transition: max-height 0.4s ease;
}
#internshipForm.show {
  max-height: 1500px;
}

    p.text-muted {
        color: #ff0000 !important;
    }
</style>
{% endblock %}
