{% extends "mentor/base1.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Approve Request {% endblock %}
{% block content %}
<br><br>
<div class="container">
    <div class="align-items-center mb-3">
        <p class="text-white p-3 bg-black rounded"><b>Request Content</b><br>
        From: {{ messo.sender }} - {{ messo.sender.profile.student_name }}<br>
        Message:  {{ messo.msg_content }}</p>
    </div>
</div><hr>
<div class="container">
	<h1 class="text-light">Review the Request </h1>
	<form method="post" class="text-light">
		{% csrf_token %}
		{{ form|crispy }}
		<button type="submit" class="btn btn-primary">Approve Request</button>
        <a href="{% url 'inbox2' %}" class="btn btn-warning btn-lg rounded-pill px-4 shadow-sm mx-5">
            <i class="bi bi-arrow-left-circle"></i> Back
        </a>
	</form>
</div>
<br>
<style>
    .form-text,
    .text-muted,
    .form-label {
        color: #ffffff !important;
    }

</style>
{% endblock %}
